<div class="w-screen h-screen bg-gray-900 flex flex-col p-3 md:p-16">

    <div class="w-full flex flex-col space-y-1 justify-center items-start">
        <app-sub-heading subHeadingText="How do I work"></app-sub-heading>
        <app-heading bgColor="DEFAULT_GRADIENT" headingText="Development Process"></app-heading>
    </div>

    <div class="w-full flex flex-col justify-around items-center">

        <!-- FIRST_ROW -->
        <div class="flex w-full justify-between items-center">
            <app-dev-process-section class="w-full"></app-dev-process-section>
            <app-dev-process-section class="w-full"></app-dev-process-section>
        </div>
    </div>
</div>