<div class="w-full h-full bg-gray-800 flex flex-col px-3 py-5 space-y-10 md:p-16">

  <div class="w-full flex flex-col space-y-1 justify-center items-start">
    <app-sub-heading subHeadingText="What’s on your mind"></app-sub-heading>
    <app-heading bgColor="DEFAULT_GRADIENT" headingText="Get In Touch"></app-heading>
  </div>

  <div class="w-full h-full space-y-4 flex flex-col justify-center items-center">

    <div class="w-full flex text-gray-400 text-xl font-medium">
      Excited to work together on something? I am always open to opportunities to learn something new everyday.
      Let’s connect!
    </div>

    <div class="bg-gray-900 text-gray-400 rounded-lg flex justify-between items-center">
        <div class="text-left w-full p-4">
            harsh07bharvada@gmail.com
        </div>

        <div class="bg-indigo-600 w-full h-full rounded-lg p-5">
            <app-icon iconType="SEND" iconSize="MD"></app-icon>
        </div>
    </div>
  </div>
</div>
