<div class="w-full h-full flex ">

    <div class="p-3 bg-gray-800 rounded-md">
        <app-icon iconType="BEAKER" iconSize="MD"></app-icon>
    </div>

    <div class="flex flex-col justify-between items-center">
        <div class=" text-gray-600 font-bold text-lg">
            Research & Stategy
        </div>

        <div class=" text-gray-400 font-medium text-md">
            Ask First. Before jumping into developing I always make sure what needs to be done and what I have to learn to hit the ground running. Then comes the process of breaking down work into atomic tasks and making sure the order and estimates of the tasks are perfect.
        </div>
    </div>
    
</div>