<app-custom-button class="w-100" (onBtnClicked)="refreshClicked($event)" [isIconOnly]="true" iconType="REFRESH"
  iconSize="MD">
</app-custom-button>

<app-custom-button class="w-100" (onBtnClicked)="loveClicked($event)" bgColor="RED600" [isIconOnly]="true"
  iconType="LOVE" iconSize="MD">
</app-custom-button>

<app-custom-button class="w-100" (onBtnClicked)="completeMealClicked($event)" bgColor="RED600" btnLabel="Complete Meal"
  [isIconActive]="true" iconType="CHECK" iconSize="MD">
</app-custom-button>
