<div class="w-screen h-screen bg-gray-900 flex flex-col ">

    <!-- NAVBAR -->
    <app-navbar></app-navbar>
  
    <!-- ROW_START -->
    <div class="w-full h-full flex">
  
      <!-- LEFT_SECTION -->
      <div
        class="w-full md:w-1/2 h-full px-5 md:px-16 space-y-2 md:space-y-16 flex flex-col justify-center  items-center ">
  
        <div class="flex flex-col justify-center items-center md:items-start w-full">
          <app-heading bgColor="DEFAULT_GRADIENT" headingText="Software"></app-heading>
          <app-heading bgColor="DEFAULT_GRADIENT" headingText="Engineer"></app-heading>
        </div>
  
        <div class="flex w-full text-gray-400 md:pr-20 font-base text-lg md:text-2xl justify-center md:justify-start items-center">
          <span class="text-center md:text-left">Currently developing awesome chatbot experiences at Reliance Jio to help companies get better constumer
              satisfaction and feedback.</span>
        </div>
  
        <div class="flex w-full justify-center md:justify-start  items-center">
          <app-custom-button (onBtnClicked)="completeMealClicked($event)" size="LG" bgColor="INDIGO600" btnLabel="Get Started"
            [isIconActive]="true" iconType="RIGHT_ARROW" iconSize="MD">
          </app-custom-button>
        </div>
      </div>
  
      <!-- RIGHT_SECTION -->
      <div class="hidden w-1/2 h-full justify-center items-center md:flex p-5">
          <img  src="../../../assets/images/home__illustration.svg" alt="">
      </div>
    </div>
  
  </div>
  