<div class="w-screen h-screen bg-gray-900 flex flex-col ">

    <!-- NAVBAR -->
    <app-navbar></app-navbar>
  
    <!-- ROW_START -->
    <div class="w-full h-full flex">
  
      <!-- LEFT_SECTION -->
      <div
        class="w-full md:w-1/2 h-full px-5 md:px-16 space-y-2 md:space-y-16 flex flex-col justify-center  items-center ">
  
        <div class="flex flex-col justify-center items-center md:items-start w-full">
            <app-sub-heading subHeadingText="Who am I"></app-sub-heading>
            <app-heading bgColor="DEFAULT_GRADIENT" headingText="About Me"></app-heading>
        </div>
  
        <div class="flex w-full text-gray-400 md:pr-20 font-base text-lg md:text-2xl justify-center md:justify-start items-center">
          <span class="text-center md:text-left">Hey, I'm Harsh Bharvada. I am Web Developer working as a Software Development Engineer at Reliance Jio having total of more than 2.5 years of experience under my belt. I am based out of Kolkata, India 🇮🇳 
              <br>
            I am experienced in building Java and JavaScript based webapps. I am comfortable working with web technologies like Angular, Node.js, Express.js & MongoDB.</span>
        </div>
  
        <div class="flex w-full justify-center md:justify-start  items-center">
          <app-custom-button (onBtnClicked)="completeMealClicked($event)" size="LG" bgColor="INDIGO600" btnLabel="Download Resume"
            [isIconActive]="true" iconType="DOWNLOAD" iconSize="LG">
          </app-custom-button>
        </div>
      </div>
  
      <!-- RIGHT_SECTION -->
      <div class="hidden md:w-1/2 md:h-full justify-end md:flex">
          <img  src="../../../assets/images/about.svg" alt="">
      </div>
    </div>
  
  </div>
  